<div class="row">
  <div class="col-lg-7">
    <h2>States</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-hover ">
        <thead>
        <tr>
          <th>Name</th>
          <th>Country</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @states.each do |state| %>
            <tr>
              <td><%= state.name %></td>
              <td><%= state.try(:country).try(:name) %></td>
              <td><%= link_to 'Show', state %></td>
              <td><%= link_to 'Edit', edit_state_path(state) %></td>
              <td><%= link_to 'Destroy', state, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'New State', new_state_path %>
  </div>
</div><!-- /.row -->



