<div class="row">
  <div class="col-lg-7">
    <h2>Countries</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-hover ">
        <thead>
        <tr>
          <th>Name </th>
          <th>Code </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @countries.each do |country| %>
            <tr>
              <td><%= country.name %></td>
              <td><%= country.code %></td>
              <td><%= link_to 'Show', country %></td>
              <td><%= link_to 'Edit', edit_country_path(country) %></td>
              <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'New Country', new_country_path %>
  </div>
</div><!-- /.row -->