<div class="row">
  <div class="col-lg-7">
    <h2>Cities</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-hover ">
        <thead>
        <tr>
          <th>Name </th>
          <th>Country </th>
          <th>State</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @cities.each do |city| %>
            <tr>
              <td><%= city.name %></td>
              <td><%= city.try(:country).try(:name) %></td>
              <td><%= city.try(:state).try(:name) %></td>
              <td><%= link_to 'Show', city %></td>
              <td><%= link_to 'Edit', edit_city_path(city) %></td>
              <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'New City', new_city_path %>
  </div>
</div><!-- /.row -->