<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Location type:</b>
  <%= @location.location_type_id %>
</p>

<p>
  <b>Country:</b>
  <%= @location.country_id %>
</p>

<p>
  <b>State:</b>
  <%= @location.state_id %>
</p>

<p>
  <b>City:</b>
  <%= @location.city_id %>
</p>

<p>
  <b>Area:</b>
  <%= @location.area_id %>
</p>

<p>
  <b>Description:</b>
  <%= @location.description %>
</p>

<p>
  <b>Address1:</b>
  <%= @location.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @location.address2 %>
</p>

<p>
  <b>Telephone1:</b>
  <%= @location.telephone1 %>
</p>

<p>
  <b>Telephone2:</b>
  <%= @location.telephone2 %>
</p>

<p>
  <b>Whatsapp:</b>
  <%= @location.whatsapp %>
</p>

<p>
  <b>Bbm:</b>
  <%= @location.bbm %>
</p>

<p>
  <b>Hours operation:</b>
  <%= @location.hours_operation %>
</p>

<p>
  <b>Website:</b>
  <%= @location.website %>
</p>

<p>
  <b>Kit available for purchase:</b>
  <%= @location.kit_available_for_purchase %>
</p>

<p>
  <b>Drop off location:</b>
  <%= @location.drop_off_location %>
</p>

<p>
  <b>Zip code:</b>
  <%= @location.gps_code %>
</p>

<p>
  <b> GPS coordinates:</b>
  <%= @location.gps_coordinates %>
</p>

<p>
  <b>Note:</b>
  <%= @location.note %>
</p>

<p>
  <b>Bank name:</b>
  <%= @location.bank_name %>
</p>

<p>
  <b>Bank account holder:</b>
  <%= @location.bank_account_holder %>
</p>

<p>
  <b>Bank account number:</b>
  <%= @location.bank_account_number %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
